@import './mixin.scss';
/* HEADER */

.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../img/anastase-maragos-9dzWZQWZMdE-unsplash.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  // background-position-y: -20rem;
  background-position: center;
  // background-position-x: -2rem;
  object-fit: contain;
  background-color: black;
  overflow: hidden;
  color: white;
  margin-top: 0;
  @include respond(tab-land) {
    padding-top: 2rem;
  }
  &__title {
    max-width: 100rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 30rem auto auto;

    h4 {
      margin: 2rem 0 4rem 0;
    }

    // flex: 1;
    // max-width: 150rem;
    // display: grid;
    // // grid-template-columns: 3fr 2fr;
    // // grid-template-columns: 1fr;
    // row-gap: 3rem;
    // align-content: center;
    // justify-content: center;
    // align-items: start;
    // justify-items: start;
    // padding: 0 6rem;
    @include respond(tab-port) {
      margin: 8rem auto auto;
      padding: 0 3rem;
    }
  }
}

// .highlight {
//   position: relative;
//   &::after {
//     display: block;
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     z-index: -2;
//     opacity: 0.7;
//     transform: scale(1.07, 1.05) skewX(-15deg);
//     background-image: linear-gradient(to right, red 40%, #eef2f3);
//     // background-color: black;
//   }
//   &-reverse::after {
//     display: block;
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     z-index: -1;
//     opacity: 0.7;
//     transform: scale(1.07, 1.05) skewX(-15deg);
//     background-image: linear-gradient(to left, #8e9eab, #eef2f3);
//     background-image: linear-gradient(to left, red 40%, #eef2f3);
//   }
// }
