@import './mixin.scss';
.nav {
    /* background-color: red; */
    /* background-color: rgb(238, 235, 235); */
    width: 100%;
    height: 10rem;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    p {
        font-size: 2.2rem;
        font-weight: 400;
        color: inherit;
    }
    .nav__links {
        display: flex;
        align-items: center;
        list-style: none;
        // @include respond(tab-port) {
        //     display: grid;
        // }
    }
    .nav__item {
        margin-left: 5rem;
    }
    @include respond(tab-port) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.nav__link:link,
.nav__link:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
    padding: 0.3rem 2.5rem;
    border-radius: 5rem;
    background-color: inherit;
    color: #222;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    // box-shadow: 2px 0px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #ff585f;
}

.nav__link--btn:hover,
.nav__link--btn:active {
    transform: translateY(-2px);
    box-shadow: 4px 0px 3px 2px rgba(0, 0, 0, 0.2);
    color: inherit;
    color: #333;
    background-color: #fd424b;
}

.nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
}