.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;

  padding: 6rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  @include respond(phone) {
    max-width: 100%;
    padding: 3rem 3rem;
  }

  .btn--close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3em;
    cursor: pointer;
    border: none;
    background: none;
  }
  &__header {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 4rem;
    align-items: center;
    grid-gap: 2rem;

    label {
      font-size: 1.7rem;
      font-weight: 600;
    }
    input {
      font-size: 1.7rem;
      padding: 1rem 1.5rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
    }
    input:focus {
      outline: none;
      border-bottom: 1px solid rgba(243, 107, 107, 0.678);
    }
    button {
      grid-column: 1/-1;
      justify-self: center;
      padding: 0.5rem 3.5rem;
      border-radius: 5rem;

      color: rgb(59, 57, 57);
      border: 1px solid rgba(0, 0, 0, 0.1);
      transition: all 0.5s;
      box-shadow: 2px 0px 1px 1px rgba(0, 0, 0, 0.2);
      //   background: linear-gradient(90deg, #000, #fff, #000);
      background-color: rgba(#fc3c01, 0.85);
      color: #fff;
      border-radius: 5rem;
    }
    button:hover {
      transform: translateY(-2px);
      box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.2);
      background-color: #fd424b;
    }
  }
}
