.blur {
  filter: blur(3px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 100;
  transition: all 0.5s;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  // display: none;
}
.downArrow {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  text-align: center;
  opacity: 1;
  transition: all 1s;
  i {
    font-size: 4rem;
    margin-bottom: 2rem;
    animation: move_down 1.5s ease-in-out infinite;
  }
}

@keyframes move_down {
  0% {
    -webkit-transform: translate(0, -10px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 25px);
    opacity: 0;
  }
}
