@import './mixin.scss';

/* FEATURES */

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0 12rem;
    @include respond(tab-land) {
        margin: 0 6rem;
    }
    @include respond(tab-port) {
        margin: 0 3rem;
    }
    &__img {
        height: 100%;
        width: 100%;
    }
    &__feature {
        align-self: center;
        justify-self: center;
        width: 70%;
        font-size: 1.5rem;
    }
    &__header {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}